.footer{
    background: #34547A;
    
}
.footer__content{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1264px;
    margin: 0 auto;
    font-family: 'Minecraft';
}
.footer__title{
    color: #fff;
    font-size: 13px;
}
h3{
    color: #fff;
}
.footer__vk{
    padding-left: 20px;
    cursor: pointer;
}