* {
    box-sizing: border-box;
}

.img {
    position: absolute;
    max-width:  200px;
    max-height:  100px;
    left: 100%;
    top: 95%;
}

img {
    max-width: 300px;
    max-height:  300px;
}

body {
    overflow: hidden;
    background: #ccffff;
}

.container {
    position: relative;
    margin: 200px auto;
    width: 300px;
    height: 300px;
    perspective: 500px;

}

.cube {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    width: inherit;
    height: inherit;
    border: none;
    font: normal 70px Arial;
    text-align: center;
    line-height: 300px;
    color: #000;
}

.front {
    transform: translateZ(149px);
}

.back {
    transform: rotateY(180deg) translateZ(149px);
}

.right {
    transform: rotateY(90deg) translateZ(149px);
}

.left {
    transform: rotateY(-90deg) translateZ(149px);
}

.top {
    transform: rotateX(90deg) translateZ(149px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(149px);
}